{{define "body"}}
    <div class="about_me_content">
			<!-- <center><h3>{{.Title}}</h3></center>
			<img src="/static/images/profile.jpg" class="image_profile"><br>
			<div class="content">
				<h4>Full Name</h4>
				Yazied Dhiya Uddien Abdurrahman
				<h4>Nickname</h4>
				Dizzay
			</div> -->
			<!-- <div class="square"> -->
				<!-- <img src="/static/images/profile.jpg" width="100px"> -->
				<!-- <div class="square_in">
					<img src="/static/images/android.png" width="100"><br>
					Android
				</div> -->
				<!-- <div class="back square_in">
					<strong>adasd</strong>
				</div> -->
			<!-- </div> -->
			<div class="l_content_skill">
				<center>
					<div class="content_skill">
						<div class="l_skill">
							<div class="skill">
								<img src="/static/images/android.png" width="100"><br>
								Android
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_2">
							<div class="skill_2">
								<img src="/static/images/golang-logo.png" width="78"><br>
								Golang
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_3">
							<div class="skill_3">
								<img src="/static/images/java-logo.png" width="100"><br>
								Java
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_4">
							<div class="skill_4">
								<img src="/static/images/php-logo.png" width="100"><br>
								<i>php</i>
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_4">
							<div class="skill_4">
								<img src="/static/images/html-logo.png" width="100"><br>
								HTML
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_4">
							<div class="skill_4">
								<br><img src="/static/images/mysql-logo.jpg" width="123"><br><br>
								MYSQL
							</div>
						</div>
					</div>
				</center>
			</div>
	</div>
{{end}}