{{define "body"}}
    <div class="about_me_content">
			<div class="l_content_skill">
				<center>
					<div class="content_skill">
						<div class="l_skill">
							<div class="skill">
								<img src="/static/images/android.png" width="100"><br>
								{{.Skill1}}
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_2">
							<div class="skill_2">
								<img src="/static/images/golang-logo.png" width="78"><br>
								{{.Skill2}}
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_3">
							<div class="skill_3">
								<img src="/static/images/java-logo.png" width="100"><br>
								{{.Skill3}}
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_4">
							<div class="skill_4">
								<img src="/static/images/php-logo.png" width="100"><br>
								<i>{{.Skill4}}</i>
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_4">
							<div class="skill_4">
								<img src="/static/images/html-logo.png" width="100"><br>
								{{.Skill5}}
							</div>
						</div>
					</div>
					<div class="content_skill">
						<div class="l_skill_4">
							<div class="skill_4">
								<br><img src="/static/images/mysql-logo.jpg" width="123"><br><br>
								{{.Skill6}}
							</div>
						</div>
					</div>
				</center>
			</div>
	</div>
{{end}}