{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Dizzay Web</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="l_head">
	<div class="head">
		<div class="l_header_in">
			<div class="l_header_one">
				Dizzay Web
			</div>
			<div class="l_header_two">
				<span>Hello World, welcome to my web...</span>
			</div>
			<div class="l_header_three">
				<a href="https://github.com/you"><img style="position: absolute; top: 0; left: 0; border: 0; z-index: 40000;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
			</div>
		</div>
		<div class="l_head_down">
			<ul>
				<a href="/"><li class="{{if eq .PageName "home"}}active{{end}}">Me</li></a>
				<a href="/resume.dzy"><li class="{{if eq .PageName "resume"}}active{{end}}">Resume</li></a>
				<a href="/contact"><li class="{{if eq .PageName "contact"}}active{{end}}">Contact</li></a>
				<a href="/experience"><li class="{{if eq .PageName "experience"}}active{{end}}">Experience</li></a>
			</ul>
		</div>
	</div>
</div>
<div class="l_body">
	<div class="body">
		{{template "body" .}}
	</div>
</div>
<div class="l_foot">
	<div class="foot">
		Yazied &copy; 2016
	</div>
</div>
</body>
</html>
{{end}}