{{define "base"}}
<!DOCTYPE html>
<html>
<head>
	<title>Dizzay Web</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
<div class="l_head">
	<div class="head">
		<div class="l_header_in">
			<a href="https://github.com/yaziedda/" target="blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/static/images/github.png"></a>
			<div class="l_header_one">
				Dizzay Web
			</div>
			<div class="l_header_two">
				<span>Hello world, welcome to my web.</span>
			</div>
			<div class="l_header_three">
				<img src="/static/images/android.png" width="25px" style="margin-right: 5px;">
				<img src="/static/images/java.jpg" width="25px" style="margin-right: 5px;">
				<img src="/static/images/golang.png" width="18px" style="margin-right: 5px;">
				<img src="/static/images/php.png" width="25px" style="margin-right: 5px;">
			</div>
		</div>
		<div class="l_head_down">
			<ul>
				<a href="/"><li class="{{if eq .PageName "home"}}active{{end}}">Me</li></a>
				<a href="/skills"><li class="{{if eq .PageName "resume"}}active{{end}}">Skills</li></a>
				<a href="mailto:yazieddabr@gmail.com"><li>Email</li></a>
				<a href="https://github.com/yaziedda/" target="blank"><li>Github</li></a>
				<a href="https://twitter.com/YaziedDA" target="blank"><li>Twitter</li></a>
			</ul>
		</div>
	</div>
</div>
<div class="l_body">
	<div class="body">
		{{template "body" .}}
	</div>
</div>
<div class="l_foot">
	<div class="foot">
		Yazied &copy; 2016
	</div>
</div>
</body>
</html>
{{end}}